

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h2 {
    background-image: url(image.jpg);
    font-size: 10em;
    background-size: cover;
    font-weight:900;
    font-family: "Noto Sans", sans-serif;
    font-family:poppins;
    text-transform: uppercase;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear alternate infinite;

}

@keyframes animate {
    to {
        background-position-x: -500px;
    }
}

